body {
    background-size: cover; /* Adatta l'immagine per coprire l'intero background */
    background-position: center; /* Centra l'immagine nel background */
    background-repeat: no-repeat; /* Evita che l'immagine di sfondo si ripeta */
}
#backgroundImage {
    position: fixed; /* Per mantenere l'immagine di sfondo fissata nella posizione */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Posiziona l'elemento dietro agli altri contenuti */
    filter: blur(10px); /* Applica l'effetto di sfocatura */
    background-size: cover; /* Copri l'intero contenitore con l'immagine */
    background-position: center; /* Centra l'immagine */
}

